* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

input {
    outline: none;
    border: none;
}

input[type="password"]{
     -webkit-appearance: none;
     border-radius: 0;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.bg-contact2 {
    width: 100%;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container-contact2 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrap-contact2 {
    width: 600px;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    padding: 72px 55px 90px 55px;
}

.contact2-form {
    width: 100%;
}

.contact2-form-title {
    display: block;
    font-weight: bold;
    font-size: 45px;
    color: #464f68;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 15px;
}

.contact2-form-sec1-title{
    padding-bottom: 30px;
}

.contact2-form-sec-title{
    padding-bottom: 45px;
}

.contact2-form-sec1-title, .contact2-form-sec-title{
    font-weight: 400;
    color: #8ea3bc;
}

.input-feral{
    height: 60px;
    border: 1px solid #8ea3bc;
    border-radius: 9px;
    font-size: 21px;
    font-weight: 400;
    color: #8ea3bc;

}

.input-feral::placeholder{ color: #8ea3bc; }
.input-feral:-ms-input-placeholder{ color: #8ea3bc; }
.input-feral::-ms-input-placeholder{ color: #8ea3bc; }

.save-btn{
    display: inline-block;
    background-color: #8ea3bc;
    color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bolder;
}



@media (max-width: 600px) {
    .wrap-contact2 {
        padding: 72px 15px 90px 15px;
    }
    /*
    .header{
        display: block !important;
    }
    
    .column2 { 
        display: block !important;
        margin: auto !important;
        
        margin-top: -71px !important;
        margin-bottom: -57px !important;
    }

    .column {
        display: block !important;
        padding-left: 37px !important;
    }

    .column h3{
        font-size: 60px !important;
        font-weight: bolder;
    }
    
    */
    
    
}

@media (max-width: 992px) { 
    .header{
        display: block !important;
    }
}

.fblogo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

#fblogo2 {
margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-bottom: 20px;
}

#images{
    text-align:center;
}

.center-div{
     margin: 0 auto;
     width: 100px; 
}

.header{
    width: 100%;
    display: inline-block;
}

.column2 {
    margin-right: auto;
    width: 30%;
    margin-bottom: -19px;
    display: inline-block;
    margin-left: 15px;
}

/* Clear floats after image containers */

.row::after {
  content: "";
  clear: both;
  display: table;
}


/*
.row::after {
  content: "";
  clear: both;
  display: table-cell;
  vertical-align: middle;
}

.Absolute-Center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 200px;
}
*/